.fixed {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
     background-color: rgba(161, 161, 161, 0.5);
}

.modal-box {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     height: 300px;
     background-color: #fff;
     z-index: 1001;
     border-radius: 15px;
     padding: 20px;
     box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.text-2xl {
     font-size: 1.5rem/* 24px */;
     line-height: 2rem/* 32px */;
}
.font-bold {
     font-weight: 700;
}

.btn {
     background-color: #fff;
     border: 1px solid #000;
     border-radius: 5px;
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     margin-bottom: 15px;
}
.btn:hover {
     background-color: rgb(49, 49, 49);
     color: #fff;
}

.btn-primary {
     background-color: #000;
     color: #fff;
}
.btn-secondary {
     background-color: #fff;
     color: #000;
}
.btn-danger {
     background-color: #f00;
     color: #fff;
}
.btn-accent {
     background-color: #f0f;
     color: #000;
}
.btn-success {
     background-color: #0f0;
     color: #000;
}

.py-4 {
     padding-top: 1.5rem;
     padding-bottom: 1.5rem;
}

.flex {
     display: flex;
}

.flex-col {
     flex-direction: column;
}
.modal-action {
     display: flex;
     margin-top: 1.5rem/* 24px */;
     justify-content: flex-end;
}

.text-center {
     text-align: center;
}

.justify-center {
     justify-content: center;
}